.wrapper-card{
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  margin-top: 100px;

  .title-card-mobile{
    display: none;
  }
}

.wrapper-img{
  width: 100%;
  max-width: 48%;

  @include e(img) {
    width: 100%;
  }

  .socialBlock-tablet{
    display: none;
  }
}

.wrapper-info{
  width: 48%;
  position: relative;

  @include e(titleCard) {
    font: {
      family: $oswald;
      size: rem(25px);
      weight: 700;
    }
    text-transform: uppercase;
    line-height: 20px;
  }

  @include e(itemNumber) {
    opacity: 0.7;
    color: $itemNumber;
    font: {
      family: $openSans;
      size: rem(10px);
      weight: 400;
    }
    margin: 17px 0 0 0;
    letter-spacing: 1px;
  }
}

.card-prize{
  margin: 13px 0 0 0;
  font: {
    family: $openSans;
    size: rem(24px);
    weight: 700;
  }

  @include e(old){
    color: $itemNumber;
    text-decoration: line-through;
  }

  @include e(new){
    color: $prizeNew;
    margin: 0 0 0 30px;
  }
}

.rating{
  @include display(flex);
  margin: 17px 0 0 0;
  line-height: 25px;

  .socialBlock-mobile{
    display: none;
  }

  .ratized input[type="radio"]:checked+label:before {
    position: absolute;
    top: 0;
    right: 2px;
  }

  .ratized {
    position: relative;
  }

  .ratized input[type="radio"] {
    position: fixed;
    top: 0;
    right: 100%;
  }


  .ratized label {
    font-size: 1.5em;
    cursor: pointer;
  }

  .ratized input[type="radio"]:checked ~ input + label {
    background: none;
    color: #aaa;
  }

  .ratized input + label {
    color: $prizeNew;
  }

  @include e(text){
    color: $ratingText;
    font: {
      family: $openSans;
      size: rem(18px);
      weight: 700;
    }
    cursor: pointer;
    margin: 0 0 0 16px;
    line-height: 30px;
  }

  .wrapper-pop-up{
    width: 100%;
    max-width: 287px;
    padding: 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 1;
    background: $white;
    display: block;
    top: 35%;
    left: 5px;
    visibility: hidden;

    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 154px;
      bottom: 81px;
      border: 10px solid transparent;
      border-bottom: 10px solid #a6a6a6;
    }
    &:after{
      border-bottom: 10px solid $white;
      bottom: 80px;
    }

    .shareWith{
      @include display(flex);
      @include justify-content(space-between);
      margin: 10px 0 0 18px;


      @include e(button){
        font: {
          size: rem(70px);
          weight: bold;
        }
        transform: rotate(45deg);
        margin: 5px 0 0 0;
        color: $ratingText;
        cursor: pointer ;
      }
    }

    .socialBlock{
      @include display(flex);
      @include justify-content(space-evenly);

      @include e(link){
        width: 41px;
        height: 41px;
        border-radius: 50%;
        text-align: center;
        line-height: 41px;
        border: 2px solid $ratingText;
        cursor: pointer;

        a{
          width: 41px;
          height: 41px;
          border-radius: 50%;
          text-align: center;
          line-height: 37px;
          font-size: rem(23px);
          color: $ratingText;
        }
      }
    }
  }

  .show{
    visibility: visible;
    animation: fadeIn 1s;
  }

  @-webkit-keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
  }

  @keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
  }
}

.description{
  max-width: 376px;
  margin: 20px 0 0 0;

  @include e(details){
    display: none;
  }

  p{
    color: $description;
    line-height: 16px;
    font: {
      family: $openSans;
      size: rem(12px);
      weight: 300;
    }
  }
}

.card-size-mobile,
.card-color-mobile{
  display: none;
}

.card-size{
  @include display(flex);
  margin: 23px 0 0 0;

  @include e(text){
    line-height: 40px;
    color: $itemNumber;
    font: {
      family: $openSans;
      size: rem(14px);
      weight: 700;
    }
    text-transform: uppercase;
    margin-right: 20px;
  }

  @include e(size){
    width: 40px;
    height: 40px;
    border: 1px solid $gray;
    border-radius: 50%;
    text-align: center;
    margin: 0 0 0 15px;
    cursor: pointer;
    transition: .5s;

    span{
      line-height: 39px;
      text-transform: uppercase;
      font: {
        family: $openSans;
        size: rem(13px);
        weight: 700;
      }
    }

    &:hover{
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.card-color{
  @include display(flex);
  margin: 15px 0 0 0;

  @include e(text){
    line-height: 40px;
    color: $itemNumber;
    font: {
      family: $openSans;
      size: rem(14px);
      weight: 700;
    }
    text-transform: uppercase;
  }

  @include e(color){
    width: 43px;
    height: 43px;
    border: 1px solid $gray;
    border-radius: 50%;
    text-align: center;
    margin: 0 0 0 15px;
    cursor: pointer;
    transition: .5s;
    background-color: $colorPicker1;

    @include m(second) {
      background-color: $colorPicker2;
    }

    @include m(third) {
      background-color: $colorPicker3;
    }

    @include m(fourth) {
      background-color: $colorPicker4;
    }

    &:hover{
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.wrapper-add-to-card{

  .add-to-card-button{
    padding: 13px 53px 13px 53px;
    background-color: $button;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    margin: 10px 0 0 0;
    font: {
      family: $openSans;
      size: rem(14px);
      weight: 700;
    }
    cursor: pointer;
    outline: none;
    transition: .5s;

    &:hover{
      background-color: $buttonHover;
    }
  }
}

/////////////////// CARDS

.cards{

  .title-cards{
    margin: 55px 5px 15px 5px;
    font: {
      family: $openSans;
      size: rem(22px);
      weight: 700;
    }
    text-transform: uppercase;
    color: $itemNumber;
    letter-spacing: 2px;
    text-align: left;
  }

  .wrapper-cards{
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin: 0 5px 100px 5px;

    .card{
      width: 100%;
      max-width: 265px;
      position: relative;
      margin-bottom: 45px;

      @include e(img){
        width: 100%;
      }

      .prize{
        position: absolute;
        bottom: 20px;
        right: 0;
        background-color: $button;
        font-family: $openSans;

        @include e(old){
          margin: 0 19px 0 5px;
          color: $itemNumber;
          text-decoration: line-through;
          font: {
            size: rem(16px);
            weight: 700;
          }
        }

        @include e(new){
          margin: 0 12px 0 0;
          color: $prizeNew;
          font: {
            size: rem(16px);
            weight: 700;
          }
        }

        @include e(default){
          margin: 0 5px;
          font: {
            size: rem(16px);
            weight: 700;
          }
        }
      }

      @include e(title) {
        position: absolute;
        width: 100%;
        font: {
          family: $openSans;
          size: rem(14px);
          weight: 700;
        }
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 10px;
      }

      &:hover {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }

  #gallery{
    display: none;
  }
}
